# Get the JupyterHub host. The host value should include the scheme (http or https)
# and should not include trailing forward slash (/).
JUPYTERHUB_HOST=http://127.0.0.1:8000

# Encrypt auth state when enabled. You can create one with openssl rand -hex 32.
JUPYTERHUB_CRYPT_KEY=my-secret-key

# Postgres info
POSTGRES_DB=jupyterhub
POSTGRES_USER=jupyterhub
POSTGRES_PASSWORD=password
POSTGRES_HOST=postgres-hub

# Standard OAuth settings
OAUTH_CLIENT_ID=illumidesk-hub
OAUTH_CLIENT_SECRET=my-oauth-client-secret
OAUTH_CALLBACK_URL=${JUPYTERHUB_HOST}/hub/oauth_callback

# Standard OAuth2 settings
OAUTH2_AUTHORIZE_URL=
OAUTH2_TOKEN_URL
OAUTH2_TLS_VERIFY=False

# GenericOAuthenticator settings
GENERICAUTH_LOGIN_SERVICE_NAME=Custom
GENERICAUTH_USERDATA_URL=
GENERICAUTH_USERDATA_METHOD=GET
GENERICAUTH_USERNAME_KEY=preferred_username
